/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
/* VARIABLES CSS */
:root {
  /* primary */
  --color-LightCyan: hsl(193, 38%, 86%);
  --color-NeonGreen: hsl(150, 100%, 66%);

  /* neutral */
  --color-GrayishBlue: hsl(217, 19%, 38%);
  --color-DarkGrayishBlue: hsl(217, 19%, 24%);
  --color-DarkBlue: hsl(218, 23%, 16%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-DarkBlue);
  padding: 0 16px;
}

.advice {
  max-width: 540px;
  padding: 48px 48px 72px 48px;
  position: relative;
  border-radius: 15px;
  background: var(--color-DarkGrayishBlue);
}

.advice__content {
  text-align: center;
  display: grid;
  align-content: start;
}

.advice__title {
  font-size: 13px;
  line-height: 1.38;
  font-weight: 800;
  letter-spacing: 4.09px;
  color: var(--color-NeonGreen);
}

.advice__text {
  font-size: 28px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: -0.3px;
  color: var(--color-LightCyan);
  margin: 24px 0 40px 0;
  position: relative;
}

.advice__details {
  width: 100%;
}

.btn__generate {
  position: absolute;
  /* top: 0; */
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: var(--color-NeonGreen);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.btn__generate:hover {
  box-shadow: 0px 0px 40px var(--color-NeonGreen);
}

@media (max-width: 540px) {
  .advice {
    padding: 40px 24px 64px 24px;
  }
  .advice__text {
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.26px;
    margin: 24px 0 24px 0;
    position: relative;
  }
}
